.search-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }
  
  .search-section input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .search-section button {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .stats-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  .user-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5%;
    align-items: center;
  }
  
  .user-info h2 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .user-info p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .chart-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  
  #skills-chart {
    width: 100%;
        height: auto;
    /* height: 200px;
    width: 100%; */
    background-color: #f2f2f2;
    border-radius: 4px;
  }
  
  #projects-chart {
    width: 100%;
        height: auto;
    /* height: 400px;
    width: 100%; */
    background-color: #f2f2f2;
    border-radius: 4px;
  }
  
  #loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .spinner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .hidden{
    display: none;
  }